.main-container {
  background-color: rgb(238, 238, 238);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Permanent Marker", cursive;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.nav-name {
  padding: 40px;
}

.navbar {
  background-color: rgb(255, 196, 87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0;
  padding: 0; */
  /* height: 70px; */
}

.title {
  font-size: 2rem;
  margin: 0.5rem;
  /* margin-left: 2rem; */
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links-active ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links-active li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  /* padding: 1rem; */
  display: block;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin-right: 10px;
}

.navbar-links-active li a {
  text-decoration: none;
  color: white;
  /* padding: 1rem; */
  display: block;
}
.navbar-links li a:hover {
  background-color: rgb(255, 183, 49);
  color: white;
}

.navbar-links-active li a:hover {
  background-color: rgb(255, 183, 49);
  color: white;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 20%;
}

/* -----------CONTROL---------- */

.control {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: start;

  /* grid-template-columns: repeat(2, 1fr); */
}

.button {
  margin-top: 5px;
  margin-bottom: 7px;
  margin-right: 5px;
  font-size: 10px;
  width: 120px;
}

.dropdown {
  margin-top: 5px;
  margin-right: 5px;
}

.dropdowns {
  width: auto;
  display: flex;
  height: 50px;
  /* margin-right: 200px; */
}

.submit {
  padding-left: 0px;
}
.pageButtons {
  display: flex;
  height: 50px;
}
/* --------------------- */

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgb(238, 238, 238);
}

.dishes-title {
  padding: 20px;
  height: 80px;
  font-size: 40px;
}

/* .pic-and-text-box {
  border: solid red 5px;
  margin-bottom: 200px;
} */

.food-box {
  width: 250px;
  background-image: linear-gradient(rgb(238, 238, 238), rgb(249, 249, 249));
  border-radius: 15%;
  text-align: center;
  justify-self: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  margin-top: 10px;
}

.food-pic {
  width: 220px;
  height: 220px;
  border-radius: 25%;
}

.food-name {
  font-size: 18px;
  text-align: center;
  margin: 10px;
  color: black;
}

.preview-text {
  padding-left: 5px;
  padding-right: 5px;
  flex-basis: 60%;
  margin-bottom: 20px;
}

.preview-ingredients {
  font-weight: bold;
}

.preview-tag {
  background-color: #ffe2ab;
  opacity: 0.6;
  color: black;
  border-radius: 3px;
  padding: 0px 4px;
}

/* DETAIl PAge */
.top-box {
  display: flex;
  font-size: 20px;
}

.label-box {
  padding: 10px;
}

.detail-ingredients {
  font-weight: bold;
  font-size: 20px;
}

/* ------------------------------------------ */

@media only screen and (max-width: 1400px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(238, 238, 238);
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(238, 238, 238);
  }
  .food-box {
    width: 230px;
    height: 95%;
    border-radius: 15%;
    text-align: center;
    justify-self: center;
  }

  .food-pic {
    width: 200px;
    height: 200px;
    border-radius: 25%;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(238, 238, 238);
  }
  .food-box {
    width: 210px;

    height: 95%;
    border-radius: 15%;
    text-align: center;
    justify-self: center;
    /* box-shadow: -30px 30px 20px rgba(0,0,0,0.3) */
  }

  .food-pic {
    width: 180px;
    height: 180px;
    border-radius: 25%;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(238, 238, 238);
  }
  .dishes-title {
    text-align: center;
  }
  .control {
    padding: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .pageButtons {
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100vw;
  }
  .dropdowns {
    width: 100vw;
    display: flex;
    height: 50px;

    justify-content: center;
  }
  .submit {
    display: flex;
    justify-content: space-around;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 10px;
    width: 120px;
  }

  .dropdown {
    margin-top: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 750px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links-active {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links-active ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links-active li {
    text-align: center;
  }

  .navbar-links-active li a {
    padding: 6px;
  }

  .navbar-links-active {
    display: flex;
  }
}

@media only screen and (max-width: 725px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(238, 238, 238);
  }

  .food-box {
    width: 190px;

    height: 95%;
    border-radius: 15%;
    text-align: center;
    justify-self: center;
    /* box-shadow: -30px 30px 20px rgba(0,0,0,0.3) */
  }

  .food-pic {
    width: 160px;
    height: 160px;
    border-radius: 25%;
  }
  .control {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .pageButtons {
    width: 100vw;
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    height: 50px;
    justify-content: center;
  }
  .dropdowns {
    width: 100vw;
    display: flex;
    height: 50px;

    justify-content: center;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 10px;
    width: 120px;
  }

  .dropdown {
    margin-top: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(238, 238, 238);
  }

  .food-box {
    width: 190px;

    height: 95%;
    border-radius: 15%;
    text-align: center;
    justify-self: center;
    /* box-shadow: -30px 30px 20px rgba(0,0,0,0.3) */
  }

  .food-pic {
    width: 160px;
    height: 160px;
    border-radius: 25%;
  }
  .control {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 120px;
  }
  .pageButtons {
    width: 100vw;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    height: 50px;
    justify-content: center;
  }
  .dropdowns {
    width: 100vw;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;

    justify-content: center;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 10px;
    width: 120px;
    height: 38px;
  }

  .dropdown {
    margin-top: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 550px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(238, 238, 238);
  }

  .food-box {
    width: 190px;

    height: 95%;
    border-radius: 15%;
    text-align: center;
    justify-self: center;
  }

  .food-pic {
    width: 160px;
    height: 160px;
    border-radius: 25%;
  }
  .control {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 120px;
  }
  .pageButtons {
    width: 100vw;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    height: 50px;
    justify-content: center;
  }
  .dropdowns {
    width: 100vw;
    display: flex;
    height: 50px;

    justify-content: center;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 10px;
    width: 120px;
  }

  .dropdown {
    margin-top: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 525px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(238, 238, 238);
  }

  .food-box {
    width: 190px;

    height: 95%;
    border-radius: 15%;
    text-align: center;
    justify-self: center;
  }

  .food-pic {
    width: 160px;
    height: 160px;
    border-radius: 25%;
  }
  .control {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 120px;
  }
  .pageButtons {
    width: 100vw;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    height: 50px;
    justify-content: center;
  }
  .dropdowns {
    width: 100vw;
    display: flex;
    grid-template-columns: repeat(1, 1fr);

    justify-content: center;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 10px;
    width: 120px;
    justify-self: center;
  }

  .dropdown {
    margin-top: 5px;
    margin-right: 5px;
    justify-self: center;
  }
}

@media screen and (max-width: 450px) {
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(238, 238, 238);
  }

  .pic-and-text-box {
    text-align: center;
  }

  .food-box {
    width: 400px;

    height: 95%;
    border-radius: 15%;
    text-align: center;
    justify-self: center;
  }

  .food-pic {
    width: 20px;
    height: 20px;
    border-radius: 25%;
  }
  .control {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 120px;
  }
  .pageButtons {
    width: 100vw;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    height: 50px;
    justify-content: center;
  }
  .dropdowns {
    width: 100vw;
    display: flex;
    grid-template-columns: repeat(1, 1fr);

    justify-content: center;
  }

  .button {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 5px;
    font-size: 10px;
    width: 120px;
    justify-self: center;
  }

  .dropdown {
    margin-top: 5px;
    margin-right: 5px;
    justify-self: center;
  }

  .submit {
    height: 2100px;
  }
}
